.features-page {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-separator {
  background: #181543;
  height: 4rem;
  width: 100%;
  margin: 0;
  padding: 0;
}